# Git aliases
alias g="git"
alias gs='git status'
alias gco="git checkout"
alias gfo="git fetch origin"
alias gpy="git pull && yarn"
alias gb='git branch'
alias glg='git lg -30'
alias cpg='cat package.json | grep'
alias p='git pull'
alias pi='git pull && npm i'

# Quick commands
alias dcb='dotnet clean && dotnet build'

# Easier navigation: 
alias -- -="cd -"
alias icloud="cd ~/Library/Mobile\ Documents/com~apple~CloudDocs/"

# Shortcuts
alias c="cd ~/code"
alias p="cd ~/code/projects"
alias pp="cd ~/code/projects/sandbox/python-practice"

alias ct="cd ~/code/cargotron"
alias q="cd ~/code/qubit"

# List all files colorized in long format
alias l="ls -lF ${colorflag}"

# List all files colorized in long format, excluding . and ..
alias la="ls -lAF ${colorflag}"

# List only directories
alias lsd="ls -lF ${colorflag} | grep --color=never '^d'"

# Always use color output for `ls`
alias ls="command ls ${colorflag}"

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Get week number
alias week='date +%V'

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec ${SHELL} -l"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# shortcut for the versions function
alias v='versions'

# Get local network adress of this machine
alias localhost="ipconfig getifaddr $(route -n get default|awk '/interface/ { print $2 }')"
# ipconfig getifaddr en0 would also work

# helper text for backing up on AWS S3
function backup() {
  echo ""
  echo "AWS backup instructions:"
  echo "Download folder: aws s3 cp S3 <bucket URI> <local dir> --recursive"
  echo "Backup folder: ??"
  echo ""
}