[user]
  name = Øyvind Aukner
  email = 22494963+aukoyy@users.noreply.github.com
  # email = oyvind.auk@gmail.com
[core]
  editor = vim
[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[pull]
	rebase = false
